.page-title {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    background-color: transparent;
}

/* Bootstrap Navigation */
.nav-item {
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.nav-item:last-of-type{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav-tabs {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: block;
    height: calc(100vh - 170px);
    position: relative;
    min-height: 210px;
}
.nav-tabs .nav-link {
    color: #495057;
    border: 0;
    border-radius: 0;
}
.nav-tabs .nav-link.active {
    color:#dc3545;
    background-color: lightgray;
    border-radiûs: 0;
}

/* Stacked Table */
table.tstacked * {
	box-sizing:border-box;
}

table.tstacked {
	width:100%;
}

table.tstacked, table.tstacked td, table.tstacked tr, table.tstacked th {
	border:2px solid black;
	border-collapse: collapse;
	text-align: left;
}

table.tstacked td, table.tstacked th {
	padding:0.5em;
}

table.tstacked th {
	background:#eee;
	font-weight: bold;
}

@media screen and (max-width:700px) {
	
	table.tstacked, table.tstacked tr, table.tstacked td {
		padding:0;
		border:1px solid black;
	}

	table.tstacked {
		border:none;
	}

	table.tstacked thead {
		display:none;
	}

	table.tstacked tr {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}

	table.tstacked td {
		float: left;
		width: 100%;
		padding:1em;
                word-break: break-all;
                /* display: block; */
                /* display: flex; */
	}

	table.tstacked td::before {
		content:attr(data-label);
		background: #eee;
		border-right:2px solid black;
		width: 45%;
		float:left;
		padding:1em;
		font-weight: bold;
		margin:-1em 1em -1em -1em;
                /* display: inline-block; */
                /* min-width: 100px; */
	}
}

/* End Stacked Table */
.upload-card {
    display: block;
    padding: 60px;
    box-shadow: 0px 0px 10px 2px gray;
}
.upload-card__text {
    font-size: 25px;
    color: lightgray;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.upload-card input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}/*CHANGE STYLE WHEN INPUT.VAL() ISSET */

.absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}
body {
    position: relative;
    height: 100vh;
}

/*buttons*/
button.add {
    display: block;
    width: 50px;
    height: 50px;
    color: black;
    background-color: white;
    border: 1px solid;
    font-size: 30px;
}